icosbody {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.secondary-font {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

div {
    color: var(--text-color-2);
}

.fx-display {
    display: flex;
    flex-wrap: wrap;
}

.fx-vertical {
    flex-direction: column;
}

.fx-centered {
    justify-content: center;
    align-items: center;
}

.mtb30 {
    margin: 30px 0 30px 0;
}

.top-container {
    background: var(--blue);
    color: var(--white);
    padding: 5px 10px;
}

.top-container a {
    color: var(--white);
}

.intro-container {
    justify-content: space-around;
    margin-bottom: 50px;
}

.width60 {
    width: 60%;
    min-width: 300px;
    max-width: 500px;
}

.width40 {
    min-width: 300px;
    max-width: 400px;
    width: 40%;
}

.font20 {
    font-size: 20px;
    color: var(--text-color-2);
}

.secondary-color {
    color: var(--secondary-color);
}

.contact-background {
    background-size: cover;
    background-position: 50%;
    /* padding-bottom: 100px; */
}

.contact-container {
    background: #ebf1f4;
    padding: 30px 0;
}

.mb5 {
    margin-bottom: 5px;
}

.divider {
    height: 1px;
    border-bottom: 1px solid var(--border-color);
}

a {
    color: var(--blue);
}

.p30 {
    padding: 30px;
}

.light-text {
    color: var(--text-color);
}

.small-text {
    font-size: 12px;
    color: var(--text-color-light);
}

.misc-card {
    border: 1px solid var(--border-color-2);
    margin-bottom: 30px;
    border-radius: 20px;
}

ul li {
    margin-bottom: 8px;
}

ol li {
    margin-bottom: 8px;
}

img {
    max-height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--black);
    background-color: var(--border-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.news-section {
    margin: 30px 0px;
    position: relative;
    background: linear-gradient(90deg, #fef1eb 20%, #def2fc);
}

.research-container {
    background: linear-gradient(90deg, #def2fc 20%, #fef1eb);
}

.blue-color {
    color: var(--blue);
    font-size: 18px !important;
}

.title-text {
    margin-bottom: 30px;
    color: var(--blue);
    font-family: "Lato", sans-serif;
    text-align: center;
}

.books-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
}

img {
    max-width: 100%;
}

.footer-link {
    color: var(--black);
    font-size: 18px;
}

.page-title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    animation: slideDown 1s ease;
}

.image-icon-container {
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid var(--border-color);
    width: 150px;
    height: 150px;
}

.image-icon {
    border-radius: 100%;
}

.student-container {
    max-width: 450px;
}

.my-team-container {
    margin: auto;
    background: #def2fc;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
}

.my-old-team-container {
    margin: auto;
    background: #FEFED7;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
}

.student-block-left {
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-bottom: 20px;
    background: white;
    border-radius: 30px;
    border-top-left-radius: 0;
}

.student-block-right {
    border: 1px solid var(--border-color);
    padding: 10px;
    background: white;
    margin-bottom: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.red-color {
    color: var(--secondary-color);
}

.href-color {
    color: var(--href-color);
}

.right-align {
    text-align: right;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.course-card {
    border: 1px solid var(--border-color-2);
    margin-bottom: 30px;
    border-radius: 20px;
    border-top-left-radius: 0;
    display: none;
}

.left-content {
    width: 30%;
}

.right-content {
    width: 70%;
    padding-top: 0;
}

.option-active {
    border-left: 2px solid var(--blue);
}

.course-option {
    padding: 20px;
    cursor: pointer;
}

.card-title {
    padding: 20px;
}

.display-content {
    display: block;
}

.option-active div {
    color: var(--blue) !important;
    font-weight: bold;
}

.see-more {
    border-radius: 30px;
    min-width: 150px;
    margin-top: 30px;
    background-color: var(--href-color);
    border: 1px solid var(--href-color);
}

.see-more:hover {
    background-color: var(--href-color);
    box-shadow: 0 0 10px var(--href-color);
    border: 1px solid var(--href-color);
}

.pill {
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
    min-width: 200px;
    cursor: pointer;
    background: #26367be3;
    color: white;
}

.dropbtn {
    color: var(--text-color);
    font-size: 16px;
    background: white;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    font-weight: bold;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

.justify-text {
    text-align: justify !important;
}

.justify-text li {
    text-align: justify;
}

@keyframes slideDown {
    0% {
        transform: translateY(-75px);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .pill {
        margin-bottom: 5px;
    }
    h1,
    h3 {
        font-size: 26px;
    }

    .font20 {
        font-size: 16px;
    }

    .width60 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .width40 {
        width: 100%;
    }

    .p30 {
        padding: 30px 15px;
    }

    h3 {
        text-align: center;
    }

    .harsha-description-container {
        text-align: justify;
    }

    .books-image {
        display: none;
    }

    .contact-container .footer-link {
        text-align: center !important;
    }

    .contact-container p {
        text-align: center !important;
    }

    p {
        text-align: justify !important;
    }

    .student-container div {
        text-align: center !important;
    }

    .ml20 {
        margin-left: 0;
    }

    .mr20 {
        margin-right: 0;
    }

    .student-block-right {
        width: 100% !important;
        flex-flow: column-reverse;
    }

    .student-block-left {
        width: 100% !important;
    }

    .contact-background {
        background: none;
    }

    .card-title {
        background: var(--blue);
        text-align: center;
        padding: 20px;
    }

    .card-title h4 {
        color: var(--white);
    }

    .card-title div {
        color: var(--white);
    }

    .course-card {
        display: block;
    }

    .left-content {
        display: none;
    }

    .right-content {
        width: 100%;
    }
}

/* Project listing and details as collapsable buttons */
.project {
    background-color: #def2fc;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    /* border-radius: 10px; */
    text-align: left;
    font-size: 18px;
  }
  
  .active, .project:hover {
    /* background-color: #66ccff; */
  }

  .projectDetails {
    padding: 0px 18px;
    display: none;
    overflow: hidden;
    background-color: #def2fc;
    /* border-radius: 10px; */
    margin-bottom:20px;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
  }

  .highlight {
    border-radius: 15px 30px;
    background: #f5dbcf;
    padding: 20px; 
    width: textwidth;
  }

/* Student images */
.david-icon {
    background-image: url("../../assets/images/david.png");
}

.jackson-icon {
    background-image: url("../../assets/images/jackson.jpg");
}

.emily-icon {
    background-image: url("../../assets/images/emily.jpeg");
    background-size: 350px;
    background-position: right -70px top -30px;
}

.ishara-icon {
    background-image: url("../../assets/images/ishara.jpg");
    background-size: 200px;
    background-position: right -25px top -10px;
}

.zhiyuan-icon {
    background-image: url("../../assets/images/zhiyuan.jpg");
    background-size: 170px;
    background-position: right -15px top -50px;
}

.chhavi-icon {
    background-image: url("../../assets/images/chhavi.jpg");
    background-size: 250px;
    background-position: right -0px top -150px;
}

.nahal-icon {
    background-image: url("../../assets/images/nahal.jpg");
}

.niloofar-icon {
    background-image: url("../../assets/images/niloofar.jpeg");
}

.sakitha-icon {
    background-image: url("../../assets/images/sakitha.jpg");
    background-size: 175px;
    background-position: right -30px top -10px;
}

.siavash-icon {
    background-image: url("../../assets/images/siavash.jpg");
}

.student-icon {
    background-image: url("../../assets/images/portraitIcon.png");
}

.publication_description {
    padding: 0px 20px;
}

.project-container {
    position: relative;
    margin-bottom: 5px;
}

.project-container:hover .projectDetails {
    display: block;
  }